RewriteEngine On
RewriteRule ^$ index.html
RewriteRule ^([a-z0-9_\-]+).html$ index.php?c=page&a=pagelink&link=$1
RewriteRule ^uploads/images/([a-z0-9_\.]+)$ image.php?id=uploads/images/$1
RewriteBase /<enter directory here>/
