/* POSITIONING */

@media (max-width: 640px),
       (max-width: 1200px) and (min-resolution: 2dppx)
    {
    div.page {
        margin: 0 auto;
        width: 100%;
        position: relative;
    }

    div.pageheadingleft {
        display: none;
    }

    div.pageright {
        position: absolute;
        width: 90%;
        left: 5%;
        top: 3em;
    }

    div.menu {
        width: 100%;
            position: fixed;
            top: 0px;
        background-color: #632C1B;
    }

    div.menupart {
        display: inline-block;
    }

    div.menubox {
        display: none;
        position: absolute;
        opacity: 0.95;
    -webkit-box-shadow: 0 0 10px 0px #505050;
       -moz-box-shadow: 0 0 10px 0px #505050;
            box-shadow: 0 0 10px 0px #505050;
    }
    
    div.menutitle {
        display: inline-block;
    }

    div.menupart:hover div.menubox {
        display: block;
        position: absolute;
    }
    div.menuitem {
        overflow: hidden;
    }
}

@media (min-width: 1200px),
       (min-width: 640px) and (max-resolution: 2dppx)
    {
    div.page {
        margin:0 auto;
        max-width: 960px;
        min-width: 590px;
        position: relative;
    }

    div.pageheadingleft {
        position: absolute;
        top: 10px;
        height: 40px;
        left: 10px;
        right: 10px;
        width: 220px;
    }

    div.pageright {
        position: absolute;
        left: 240px;
        right: 10px;
        top: 10px;
    }

    div.menu {
        width: 220px;
            position: fixed;
            margin-left: 10px;
            top: 110px;
        overflow: hidden;
    }

    div.menutitle {
        background-color: #632C1B;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            -moz-border-radius-topleft: 7px;
            -moz-border-radius-topright: 7px;
    }

    div.menubox {
            opacity: 0.8;
    }
}

@media (min-resolution: 2dppx)
{
}

@media (max-resolution: 2dppx)
{
}

/* FORMATTING */

body {
    margin: 0;
        background-image:url('bg.png');
        background-color: #31B550;
    font-family: Georgia, "Times New Roman", Times, Serif;
}

a:link {
    color: #444F88;
    text-decoration: none;
}
a:visited {
    color: #444F88;
    text-decoration: none;
}
a:hover {
    color: #45631B;
    text-decoration: underline;
}
a.img:hover {
    background: none;
    text-decoration: none;
}

h2 {
    color: #45631B;
    font-size: larger;
    margin-top: 0px;
    border-bottom: 1px dotted #45631B;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

h3 {
    font-size: inherit;
    font-weight: bold;
}

pre {
    font-size: 10pt;
}

.cmd {
    font-family: Courier New, Courier;
}

div.pageheadingheading {
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
        padding: 8px;
    background-color: #632C1B;
    color: #EFECE3;
        text-shadow: 1px 1px 2px #000000;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-topright: 7px;
    -webkit-box-shadow: 0 0px 1px 0px #222, inset 0px 0px 3px 0px black;
       -moz-box-shadow: 0 0px 1px 0px #222, inset 0px 0px 3px 0px black;
            box-shadow: 0 0px 1px 0px #222, inset 0px 0px 3px 0px black;
}

div.pageright {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-box-shadow: 0 0 10px 5px #1B632A;
       -moz-box-shadow: 0 0 10px 5px #1B632A;
            box-shadow: 0 0 10px 5px #1B632A;
}

div.pagemain {
    background-color: #F7F7F7;
    padding: 15px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        -moz-border-radius-bottomleft: 7px;
        -moz-border-radius-bottomright: 7px;
    -webkit-box-shadow: 0 0px 1px 0px #222;
       -moz-box-shadow: 0 0px 1px 0px #222;
            box-shadow: 0 0px 1px 0px #222;
}

div.menutitle {
    font-weight: bold;
    color: #FFFFFF;
        padding: 7px;
}

div.menu a {
    display: block;
    width: 100%;
}

div.menutitle a {
    color: #EFECE3;
}

div.menubox {
    background-color: #FFFFFF;
    margin-bottom: 10px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        -moz-border-radius-bottomleft: 7px;
        -moz-border-radius-bottomright: 7px;
}

div.menuitem {
    display: block;
    padding: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 220px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-top-color: #DDDDDD;
    border-bottom-color: #AAAAAA;
}

p.copyright {
    font-size: 8pt;
    font-style: italic;
    text-align: center;
        margin-top: 50px;
        margin-bottom: -50px;
        padding-bottom: 10px;
}

p {
    margin-top: 0px;
    text-align: justify;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 5px;
}

/*p.imgself img.withborder {
    border-style: solid;
    border-width: 5px;
    border-color: #30150E;
    background-color: #FFFFFF;
    padding: 2px;
}*/

p.imgself img.playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

p.imgself iframe {
    border-style: solid;
    border-width: 5px;
    border-color: #30150E;
    background-color: #FFFFFF;
    padding: 2px;
}

p.imgself {
    position: relative;
    padding-bottom: 0pt;
    margin-bottom: 16px;
}

p.imgcaption {
    margin-top: -16px;
    text-align: center;
    font-style: italic;
    margin-left: 7px;
    margin-right: 7px;
}

span.imgnocookies {
    display: inline-block;
    color: #FFFFFF;
    background-color: #404040;
}
span.imgnocookiestext {
    display: inline-block;
    margin: 25px 25px 25px 25px;
    text-align: center;
}

span.cookiebox {
    display: block;
    background-color: #E5E5E5;
    border-radius: 7px; 
}
span.cookieboxtext {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}
span.cookieboxbuttonarea {
    display: block;
    text-align: center;
    padding: 10px 10px 10px 10px; 
}
span.cookieboxbutton {
    display: inline-block;
    background-color: #632C1B;
    color: #FFFFFF;
    border-radius: 7px; 
}
span.cookieboxbuttontext {
    display: inline-block;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
span.cookieboxbutton a {
    color: #FFFFFF;
}

.albumline {
    float: left;
    width: 100%;
    text-align: center;
}

/* FORMS */

.inputarea {
    background: #E8E8F4;
    border-color: #8888BB;
    border-style: solid;
    border-width: 1px;
}

fieldset {
    border-style: none;
    margin: 5px;
    padding-top: 0px;
    padding-left: 3px;
    padding-top: 5px;
    padding-right: 5px;
}

legend {
    background-color: #7777BB;
    font-weight: bold;
    color: #FFFFFF;
    padding: 3px;
    margin-left: -3px;
    width: 100%;
}

label {
    display: block;
}

input, textarea, select {
    display: block;
    margin-bottom: 10px;
}

.checkboxlist {
    max-height: 180px;
    overflow: auto;
}

.checkboxline {
    display: block;
}

.checkboxline input {
    display: inline;
}

.checkboxline label {
    display: inline;
}

input[type=submit] {
    display: inline;
}